.message-input-form {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.message-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  margin-right: 10px;
}

.message-input:focus {
  outline: none;
  border-color: #075E54;
}

.send-button {
  background-color: #128C7E; /* WhatsApp secondary green */
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: #075E54;
}